@use "../abstracts/" as *;

.testimonials {
  &__arrow {
    @include flex($justify: center, $align: center);
    border-radius: 0.8rem;
    gap: 0.5rem;
    background-color: $white;
    box-shadow: 0.2rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    padding: 1.3rem 0.6rem;
    border: none;
    cursor: pointer;

    &--next {
      transform: rotate(180deg);
    }

    &--next,
    &--prev {
      @include dimensions($w: 2.4rem, $h: 2.7rem);
    }
  }

  &__arrow-icon {
    object-fit: contain;
    object-position: center;
    @include dimensions($w: 1.1rem, $h: auto);
    display: block;
  }

  &__both-arrow {
    @include flex($align: flex-start);
    gap: 3.2rem;
  }

  @include tablet {
    &__arrow {
      &--next,
      &--prev {
        @include dimensions($w: 3.6rem, $h: 4.2rem);
      }
    }

    &__arrow-icon {
      @include dimensions($w: 1.8rem, $h: auto);
    }
  }

  @include pc {
    &__arrow {
      gap: 1rem;
      border-radius: 1.7rem;
      box-shadow: 0.3rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.25);
      padding: 2.8rem 1.3rem;
      border: none;
      cursor: pointer;

      &--next,
      &--prev {
        @include dimensions($w: 5.1rem, $h: 5.7rem);
      }
    }

    &__arrow-icon {
      @include dimensions($w: 2.5rem, $h: auto);
    }
  }
}
