@use "../abstracts/" as *;

.hero__search {
  @include flex($direction: row, $align: center);
  border-radius: 0.5rem;
  border: 0.01rem solid $dark transparent;
  white-space: nowrap;
  overflow: hidden;
  height: 3.5rem;
  width: 80%;
  max-width: 33rem;
  position: relative;
  z-index: 1;

  input {
    width: 100%;
    padding: 1.1rem 1.6rem;
    color: $dark;
    @include font-style($family: Poppins, $size: 0.8rem);
  }

  button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 120%;
    color: $white;
    @include font-style($family: Poppins, $size: 0.8rem);
    border: 0;
    white-space: wrap;
    background: $primary;
    padding: 1.1rem auto;
    cursor: pointer;
    z-index: 2;
  }

  @include tablet {
    height: 4.5rem;
    max-width: none;
    input {
      @include font-style($family: Poppins, $size: 1rem);
    }

    button {
      @include font-style($family: Poppins, $size: 1rem);
    }
  }

  @include pc {
    height: 5.6rem;
    max-width: none;
    border-radius: 0.8rem;
    width: 90%;
    input {
      padding: 1.8rem 0 1.8rem 1.8rem;
      @include font-style($family: Poppins, $size: 1.3rem);
    }

    button {
      white-space: nowrap;
      @include font-style($family: Poppins, $size: 1.3rem);
    }
  }
}
