@use "../abstracts/" as *;

.hero__search {
  width: 28.712rem;
  height: 3.423rem;
  @include flex($direction: row, $align: center);
  position: relative;
  z-index: 1;

  input {
    flex: 1 1 auto;
    height: 100%;
    padding: 1.1113rem 1.2rem 1.1113rem 1.8521rem;
    color: #c0c0c0;
    font-family: Poppins;
    font-size: 0.8217rem;
    font-weight: 400;
    border: 0.1rem solid #ccc;
    border-radius: 0.5136rem 0 0 0.5136rem;
  }

  button {
    flex: 0 0 8.01rem;
    height: 100%;
    color: $primary-color;
    font-family: Poppins;
    font-size: 0.8217rem;
    background: $primary;
    padding: 1.1113rem 1.6052rem;
    border: 0.1rem solid transparent;
    border-radius: 0 0.5136rem 0.5136rem 0;
    cursor: pointer;
    z-index: 2;
  }
}
