@use "../abstracts/" as *;

.logo {
  @include flex($justify: flex-start, $align: center);
  gap: 0.4rem;
}

.logo-text {
  @include flex($justify: center, $align: center);
  gap: 0.4rem;
  color: #1341ec;
  font-family: Syne;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;

  &__trans {
    color: #1c1c1c;
    font-family: Risque;
    font-weight: 400;
  }
}

.logo-img {
  width: 2.6rem;
  height: 2.8308rem;
  stroke-width: 0.0726rem;
  stroke: #1c1c1c;
}
