@use "../abstracts/" as *;

.logo {
  @include flex($justify: flex-start, $align: center);
  gap: 0.4rem;
}

  &-text {
    @include flex($justify: center, $align: center);
    gap: 0.4rem;
    color: $primary;
    font-family: Syne;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;

    &__trans {
      color: $trans-color;
      font-family: Risque;
      font-weight: 400;
    }
  }

  &-img {
    width: 2.6rem;
    height: 2.8rem;
    stroke-width: 0.07rem;
    stroke: $trans-color;
  }
}

.logo-img {
  width: 2.6rem;
  height: 2.8308rem;
  stroke-width: 0.0726rem;
  stroke: #1c1c1c;
}
