@use "../abstracts/" as *;

.logo {
  @include flex($justify: flex-start, $align: center);
  gap: 0.54rem;
  transition: transform 0.2s ease;

  &-text {
    @include flex($justify: center, $align: center);
    gap: 0.4rem;
    color: $primary;
    @include font-style(
      $family: Syne,
      $size: 1.8rem,
      $height: 1.5,
      $weight: 700
    );
    text-transform: capitalize;

    &__trans {
      color: #1c1c1c;
      color: $dark;
      @include font-style($family: Risque, $weight: 400);
    }
  }

  &-img {
    @include dimensions($w: 2.6rem, $h: 2.8rem);
    stroke-width: 0.07rem;
    stroke: $dark;
  }

  &:hover {
    transform: scale(1.1);
  }
}
