@use "../abstracts/" as *;

.navigation-container {
  width: 100%;
  height: 8.1rem;
  background-color: $white;
  @include flex($direction: column, $align: center);

  .top-nav {
    width: 100%;
    height: 4rem;
    padding: 0.6rem 4.7rem;
    background-color: $black;
    @include flex($justify: center, $align: center);

    .note {
      color: $white;
      @include font-style($size: 0.8rem, $height: 2.1, $weight: 400);

      .important-note {
        white-space: nowrap;
        @include font-style($weight: 600);
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }

      .mark {
        @include font-style($weight: 600);
      }
    }
  }

  .navbar {
    width: 100%;
    height: 4.5rem;
    padding: 0.8rem 2rem;
    @include flex($justify: space-between, $align: center);

    .nav-list {
      height: 2.1rem;
      @include flex($justify: center);
      gap: 4rem;

      .list-items {
        @include flex($direction: row, $align: center);
        list-style: none;
        gap: 2rem;
        margin: 0;
        padding: 0;

        .nav-item a {
          white-space: nowrap;
          color: $dark;
          font-family: $primary-font;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2.1rem;
          text-decoration: none;
          display: inline-block;

          &:hover {
            color: $primary;
            transform: scale(1.2);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0.5rem $primary;
          }
        }
      }
    }

    .contact-us {
      @include flex($justify: center, $align: center);
      @include font-style($size: 1.6rem);
      padding: 1rem 2rem;
      border-radius: 0.6rem;
      background: $primary;
      color: $white;
      gap: 1rem;
      font-size: 1.6rem;
      white-space: nowrap;
      cursor: pointer;
    }

    .menu-button {
      display: none;
      @include bg-img("../assets/icon/Menu.svg");
      width: 2rem;
      height: 1.7rem;
      border: none;
      flex-shrink: 0;
      cursor: pointer;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @include mobile {
    .navbar {
      .nav-list {
        display: none;
      }

      .contact-us {
        display: none;
      }

      .menu-button {
        display: flex;
      }
    }
  }

  @include tablet {
    height: auto;
    .top-nav {
      height: 5.3rem;
      padding: 1.6rem 0;

      .note {
        @include font-style($size: 1.2rem);
      }
    }

    .navbar {
      padding: 2rem 6.2rem;
      gap: 1rem;

      .nav-list {
        .list-items {
          .nav-item a {
            @include font-style($size: 1.2rem);
          }
        }
      }

      .contact-us {
        @include font-style($size: 1.2rem);
      }
    }
  }

  @include pc {
    height: 13.8rem;

    .top-nav {
      .note {
        @include font-style($size: 1.4rem, $height: 2.1, $weight: 400);
      }
    }

    .navbar {
      max-width: 124rem;
      height: 8.5rem;
      padding: 2rem 0rem;
      gap: 1rem;
    }
  }
}
