@use "../abstracts/" as *;

.service-card {
  @include flex($direction: column);
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;

  img.service-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }

  figcaption.service-title {
    position: relative;
    z-index: 1;
    @include font-style($weight: 500);
    width: 100%;
    padding: 13.7rem 1.3rem 1.1rem;
  }

  &-large {
    width: 32rem;
    font-size: 1.3rem;

    figcaption.service-title {
      aspect-ratio: 1.916;
    }
  }

  &-medium {
    width: 15.6rem;

    figcaption.service-title {
      aspect-ratio: 0.934;
      padding: 13.7rem 1.4rem 1.1rem;
    }
  }

  &-small {
    @include flex($justify: start, $align: end);
    width: 11.1rem;
    gap: 0.6rem;
    font-size: 0.9rem;

    figcaption.service-title {
      aspect-ratio: 0.665;
      padding: 14.1rem 0.8rem 1.2rem;
      border-radius: 0.1rem;
    }
  }

  &-large-special {
    width: 20.1rem;
    @include font-style($size: 1.2rem, $height: 1);

    figcaption.service-title {
      aspect-ratio: 1.204;
      padding: 14.3rem 1.1rem 1.3rem;
      border-radius: 0.1rem;
    }
  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  }
}

@include tablet {
  .services-tablet-card {
    @include flex($direction: column);
    position: relative;
    margin: 0;
    border-radius: 0.5rem;

    &-large {
      min-width: 24rem;
      width: 81.8rem;
    }

    &-medium {
      min-width: 24rem;
      width: 39.9rem;
    }

    .services-tablet-image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.5rem;
    }

    .services-tablet-name {
      position: relative;
      padding: 2.7rem 3.3rem;
      margin-top: 35rem;
      @include font-style($size: 3.2rem);
    }

    &:hover {
      transform: translateY(-0.8rem);
      box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
    }
  }
}
