@use "../abstracts/" as *;

.service-card {
  @include flex($direction: column);
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;
  height: 100%;
  object-fit: contain;

  .service-image {
    max-width: 100%;
    height: auto;
    z-index: 0;
  }

  .service-title {
    @include font-style($size: 1.3rem, $weight: 500);
    position: absolute;
    left: 1.3rem;
    bottom: 1.1rem;
    z-index: 1;
    width: 100%;

    @include medium {
      @include font-style($size: 2.3rem, $weight: 500, $height: 1.5);
      left: 2rem;
      bottom: 1.5rem;

      @include pc {
        @include font-style($size: 3.2rem, $weight: 500, $height: 1.5);
        left: 4.2rem;
        bottom: 2.8rem;
      }
    }
  }

  &-large {
    width: 100%;
  }

  &-medium {
    width: calc(100% / 2 - 0.4rem);
  }

  &-small {
    flex: 0.49;
  }

  &-large-special {
    flex: 1;
  }

  @media (max-width: 360px) {
    &-large,
    &-medium,
    &-small,
    &-large-special {
      width: 100%;
    }

    .service-image {
      aspect-ratio: 1;
      object-fit: cover;
      display: block;
    }
  }

  &:hover {
    transition: all 0.3s ease;
    transform: translateY(-0.4rem);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  }
}
