<div class="services-grid">
  <div class="services-row">
    <figure class="service-card service-card-large">
      <img
        src="../assets/images/Rectangle 960.webp"
        class="service-image"
        alt="Rail Express"
        loading="lazy"
      />
      <figcaption class="service-title">Rail Express</figcaption>
    </figure>
  </div>
  <div class="services row services-row-small">
    <figure class="service-card service-card-medium">
      <img
        src="../assets/images/Rectangle 969.webp"
        class="service-image"
        alt="Surface Express"
      />
      <figcaption class="service-title">Surface Express</figcaption>
    </figure>
    <figure class="service-card service-card-medium">
      <img
        src="../assets/images/Rectangle 963.webp"
        class="service-image"
        alt="Air Express"
      />
      <figcaption class="service-title">Air Express</figcaption>
    </figure>
  </div>
  <div class="services-row services-row-small">
    <figure class="service-card service-card-medium">
      <img
        src="../assets/images/Rectangle 969.webp"
        class="service-image"
        alt="Surface Express"
      />
      <figcaption class="service-title">Surface Express</figcaption>
    </figure>
    <figure class="service-card service-card-medium">
      <img
        src="../assets/images/Rectangle 961.webp"
        class="service-image"
        alt="Near By Furniture"
      />
      <figcaption class="service-title">Near By Furniture</figcaption>
    </figure>
  </div>
  <div class="services-row services-row-special">
    <figure class="service-card service-card-small">
      <img
        src="../assets/images/Rectangle 964.webp"
        class="service-image"
        alt="Cold Chain Express"
      />
      <figcaption class="service-title">Cold Chain Express</figcaption>
    </figure>
    <figure class="service-card service-card-large-special">
      <img
        src="../assets/images/Rectangle 965.webp"
        class="service-image"
        alt="Near By Electronics"
      />
      <figcaption class="service-title">Near By Electronics</figcaption>
    </figure>
  </div>
</div>
