<article class="testimonials__card-content {{ cardClass }}">
  <div class="testimonials__user">
    <div class="testimonials__user-images">
      <img src="{{ userImage1 }}" alt="User" class="testimonials__user-image" />
      <img src="{{ userImage2 }}" alt="User" class="testimonials__user-image" />
    </div>
    <div class="testimonials__user-info">
      <h4 class="testimonials__user-name">{{ userName }}</h4>
      <p class="testimonials__user-position">{{ userPosition }}</p>
    </div>
  </div>

  <div class="testimonials__text-container">
    <div class="testimonials__text-wrapper">
      <img
        src="../assets/icon/pngwing 3.webp"
        alt="Quote"
        class="testimonials__quote-icon"
      />
      <p class="testimonials__text">{{ testimonialText }}</p>
      <div class="testimonials__quote-end-container">
        <img
          src="../assets/icon/pngwing 2.webp"
          alt="Quote End"
          class="testimonials__quote-end-icon"
        />
      </div>
    </div>
    <img
      src="../assets/icon/Start.svg"
      alt="Testimonial Start"
      class="testimonials__start-icon"
    />
  </div>
</article>
