//Font family
$primary-font: Rubik, -apple-system, Roboto, Helvetica, sans-serif;

//Color
$background-color: #fff;
$primary-color: #fff;
$primary: #1341ec;
$text: #fafafa;
$neutral-100: #262626;
$neutral-80: #5d5f61;
$grey1: #000;
$grey6: #f2f2f2;
$grey5: #e0e0e0;
$search-color: #c0c0c0;
$trans-color: #1c1c1c;

//Breakpoint
$medium: 768px;
$extra-lager: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);
