//Font family
$primary-font: Rubik;

//Color
$white: #fff;
$primary: #1341ec;
$text: #fafafa;
$neutral: #5d5f61;
$black: #000;
$grey: #e0e0e0;
$dark: #262626;
$button: #1e3c5d;

//Breakpoint
$medium: 768px;
$extra-large: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-large - 1px);
