@use "../abstracts/" as *;
@use "../components/social-links";
@use "../components/footer-heading";

.site-footer {
  @include flex($direction: column, $align: flex-start);
  margin-top: 1.6rem;
  @include dimensions($w: 100%);

  .footer-content {
    @include flex($direction: column, $align: flex-start);
    margin: 0 auto;
    @include dimensions($w: 100%);
    padding: 5.6rem 8.2rem 5.6rem 2.4rem;
    gap: 3.7rem;

    .company-info {
      @include flex($direction: column, $align: flex-start);
      background-color: $white;
      gap: 2.2rem;

      .company-details {
        @include flex($direction: column, $align: flex-start);
        gap: 2.5rem;

        .company-description {
          color: $dark;
          @include font-style($size: 0.95rem, $height: 1.7, $weight: 400);
        }
      }
    }

    .footer-links-container {
      @include flex($align: flex-start, $wrap: wrap);
      background-color: $primary-font;
      gap: 4.5rem;

      .footer-nav {
        @include flex($direction: column, $align: flex-start);
        gap: 2.6rem;

        .footer-links {
          @include flex($direction: column, $align: flex-start);
          gap: 1rem;
          padding: 1rem;
          @include font-style($size: 0.9rem, $weight: 400);
          color: $dark;
          list-style-type: none;

          a {
            color: inherit;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      .footer-contact {
        @include flex($direction: column, $align: flex-start);
        gap: 2.6rem;
        color: $black;

        .contact-list {
          @include flex($direction: column, $align: flex-start);
          gap: 1.1rem;
          @include font-style($size: 0.95rem, $weight: 400);
          list-style-type: none;

          .contact-item {
            @include flex($justify: center, $align: flex-start);
            gap: 1.1rem;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }

            &:last-child {
              @include font-style($height: 1.7);
            }

            .contact-icon {
              aspect-ratio: 1;
              object-fit: contain;
              object-position: center;
              @include dimensions($w: 1.6rem);
              flex-shrink: 0;
            }

            .contact-address {
              @include dimensions($w: 14.1rem);
            }
          }
        }
      }
    }

    .footer-map {
      background-color: $white;
      @include flex($direction: column, $align: flex-start);
      gap: 1.4rem;
      @include dimensions($w: 100%);
      @include font-style($size: 1.2rem, $weight: 600);
      color: $dark;

      .map-image {
        aspect-ratio: 1.67;
        object-fit: contain;
        object-position: center;
        @include dimensions($w: 100%);
        transition: transform 0.3s ease;

        img {
          @include dimensions($max-w: 100%, $h: auto);
          display: block;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0.8rem 2rem $primary;
        }
      }
    }
  }

  .footer-bottom {
    background-color: $black;
    @include dimensions($w: 100%);
    color: $white;

    .footer-bottom__container {
      padding: 1.2rem 1.5rem;
      @include flex($justify: space-between, $align: center);
      margin: 0 auto;
      @include dimensions($w: 100%);
      @include font-style($size: 1.2rem, $weight: 400);
      white-space: nowrap;

      .copyright {
        align-self: center;
      }
    }
  }

  @include medium {
    @include flex($align: flex-start);
    margin: 0 auto;

    .footer-content {
      @include flex($direction: row, $align: flex-start, $justify: center);
      @include dimensions($w: 100%);
      padding: 6.5rem 9rem;
      gap: 5.2rem;

      .company-info {
        @include dimensions($w: auto);
        gap: 3.3rem;

        .company-details {
          gap: 4rem;

          .company-description {
            @include dimensions($max-w: 37rem);
            @include font-style($size: 1.2rem);
          }
        }
      }

      .footer-links-container {
        @include flex($align: flex-start, $wrap: nowrap);
        gap: 5.2rem;

        .footer-nav {
          gap: 3.8rem;

          .footer-links {
            @include font-style($size: 1.2rem);
          }
        }

        .footer-contact {
          gap: 3.1rem;

          .contact-list {
            @include font-style($size: 1.2rem);
            gap: 1.6rem;

            .contact-item {
              @include flex($align: flex-start);
              gap: 1.6rem;

              .contact-icon {
                @include dimensions($w: 2.4rem);
              }
              .contact-address {
                @include dimensions($w: auto);
              }
            }
          }
        }
      }

      .footer-map {
        gap: 2rem;
        flex: 1 0 14rem;
      }
    }

    .footer-bottom {
      @include flex($align: flex-start);
      @include dimensions($w: 100%);
      align-self: stretch;

      .footer-bottom__container {
        padding: 2.4rem 9.6rem;
        @include font-style($size: 1.4rem);
        .copyright {
          align-self: center;
        }
      }
    }

    @include pc {
      .footer-content {
        @include dimensions($max-w: 144rem);
        gap: 6.7rem;

        .company-info {
          .company-details {
            .company-description {
              @include font-style($size: 1.4rem);
            }
          }
        }

        .footer-links-container {
          gap: 6.7rem;

          .footer-nav {
            .footer-links {
              @include font-style($size: 1.4rem);
            }
          }

          .footer-contact {
            .contact-list {
              @include font-style($size: 1.4rem);

              .contact-item {
                @include dimensions($max-w: 24.8rem);
                @include flex($align: flex-start);
              }
            }
          }
        }

        .footer-map {
          gap: 2rem;
          flex: 0 1 36rem;
          @include dimensions($min-w: 24rem);
        }
      }

      .footer-bottom {
        .footer-bottom__container {
          @include dimensions($max-w: 144rem);
          @include font-style($size: 1.6rem);
        }
      }
    }
  }
}
