@use "../abstracts/" as *;

.header-container {
  z-index: 1;
  position: relative;
  @include dimensions($w: 100%);
  @include flex($direction: column, $align: center);

  .navigation-container {
    @include dimensions($w: 100%, $h: auto);
    background-color: $white;
    @include flex($direction: column, $align: center);

    .top-nav {
      @include dimensions($w: 100%);
      padding: 0.6rem 0;
      background-color: $black;
      @include flex($justify: center, $align: center);
      text-align: center;
      .note {
        color: $white;
        @include font-style($size: 0.8rem, $height: 2.1, $weight: 400);

        .important-note {
          white-space: nowrap;
          @include font-style($weight: 600);
          text-decoration: underline;
          text-decoration-skip-ink: none;
        }

        .mark {
          @include font-style($weight: 600);
        }
      }
    }

    .navbar {
      @include dimensions($w: 100%);
      padding: 0.8rem 2rem;
      @include flex($justify: space-between, $align: center);

      .nav-list {
        @include dimensions($h: 2.1rem);
        @include flex($justify: center);
        gap: 4rem;

        .list-items {
          @include flex($direction: row, $align: center);
          list-style: none;
          gap: 2rem;
          margin: 0;
          padding: 0;

          .nav-item a {
            white-space: nowrap;
            color: $dark;
            @include font-style($size: 1.6rem, $height: 2.1rem, $weight: 500);
            text-decoration: none;
            display: inline-block;

            &:hover {
              color: $primary;
              transform: scale(1.2);
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 0.5rem $primary;
            }
          }
        }
      }

      .contact-us {
        @include flex($justify: center, $align: center);
        @include font-style($size: 1.6rem);
        padding: 1rem 2rem;
        border-radius: 0.6rem;
        background: $primary;
        color: $white;
        white-space: nowrap;
        cursor: pointer;
      }

      .menu-button {
        display: none;
        @include bg-img("../assets/icon/Menu.svg");
        @include dimensions($w: 2rem, $h: 1.7rem);
        border: none;
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @include mobile {
      .navbar {
        .nav-list {
          display: none;
        }

        .contact-us {
          display: none;
        }

        .menu-button {
          display: flex;
        }
      }
    }

    @include tablet {
      @include dimensions($h: auto);
      
      .top-nav {
        @include dimensions($h: 5.3rem);
        padding: 1.6rem 0;

        .note {
          @include font-style($size: 1.2rem);
        }
      }

      .navbar {
        padding: 2rem 6.2rem;
        gap: 1rem;

        .nav-list {
          .list-items {
            .nav-item a {
              @include font-style($size: 1.2rem);
            }
          }
        }

        .contact-us {
          @include font-style($size: 1.2rem);
        }
      }
    }

    @include pc {
      @include dimensions($h: auto);

      .top-nav {
        .note {
          @include font-style($size: 1.4rem, $height: 2.1, $weight: 400);
        }
      }

      .navbar {
        @include dimensions($max-w: 144rem, $h: 8.5rem);
        padding: 2rem 6.2rem;
        gap: 1rem;
      }
    }
  }
}
