<section class="testimonials">
  <header class="testimonials__header">
    <h3 class="testimonials__subtitle">Testimonials</h3>
    <div class="testimonials__title-wrapper">
      <span class="testimonials__title-bg">Testimonials</span>
      <h2 class="testimonials__title">Our Valuable & Trusted Clients</h2>
    </div>
  </header>

  <div class="testimonials__slider">
    <div class="testimonials__slider-container">
      <input type="radio" name="testimonial" id="slide1" checked hidden />
      <input type="radio" name="testimonial" id="slide2" hidden />

      <label
        for="slide1"
        class="testimonials__arrow testimonials__arrow--prev testimonials__pc"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </label>

      <article class="testimonials__card">
        <div class="testimonials__card-content card1">
          <div class="testimonials__user">
            <div class="testimonials__user-images">
              <img
                src="../assets/images/Rectangle 6.webp"
                alt="User"
                class="testimonials__user-image"
              />
              <img
                src="../assets/images/Rectangle 483.webp"
                alt="User"
                class="testimonials__user-image"
              />
            </div>

            <div class="testimonials__user-info">
              <h4 class="testimonials__user-name">Marry Welsom</h4>
              <p class="testimonials__user-position">
                Founder and CEO OF PREMIUM
              </p>
            </div>
          </div>

          <div class="testimonials__text-container">
            <div class="testimonials__text-wrapper">
              <img
                src="../assets/icon/pngwing 3.webp"
                alt="Quote"
                class="testimonials__quote-icon"
              />
              <p class="testimonials__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ecommodo consequat. Duis aute irure dolor in
                reprehenderit Duis aute irure dolor in reprehenderit
              </p>
              <div class="testimonials__quote-end-container">
                <img
                  src="../assets/icon/pngwing 2.webp"
                  alt="Quote End"
                  class="testimonials__quote-end-icon"
                />
              </div>
            </div>
            <img
              src="../assets/icon/Start.svg"
              alt="Testimonial Start"
              class="testimonials__start-icon"
            />
          </div>
        </div>

        <div class="testimonials__card-content card2">
          <div class="testimonials__user">
            <div class="testimonials__user-images">
              <img
                src="../assets/images/Rectangle 6.webp"
                alt="User"
                class="testimonials__user-image"
              />
              <img
                src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcS2CHe7B3Ca4IP1HBjFALkqkeU43BjeDYAtGuP32PxP2XPSZWnByb0xArOAOEdP5lcykP_lUkxAM4HUkK8"
                alt="User"
                class="testimonials__user-image"
              />
            </div>

            <div class="testimonials__user-info">
              <h4 class="testimonials__user-name">Elon Musk</h4>
              <p class="testimonials__user-position">CEO of Tesla and SpaceX</p>
            </div>
          </div>

          <div class="testimonials__text-container">
            <div class="testimonials__text-wrapper">
              <img
                src="../assets/icon/pngwing 3.webp"
                alt="Quote"
                class="testimonials__quote-icon"
              />
              <p class="testimonials__text">
                “When something is important enough, you do it even if the odds
                are not in your favor.”
              </p>
              <div class="testimonials__quote-end-container">
                <img
                  src="../assets/icon/pngwing 2.webp"
                  alt="Quote End"
                  class="testimonials__quote-end-icon"
                />
              </div>
            </div>
            <img
              src="../assets/icon/Start.svg"
              alt="Testimonial Start"
              class="testimonials__start-icon"
            />
          </div>
        </div>
      </article>

      <label
        for="slide2"
        class="testimonials__arrow testimonials__arrow--next testimonials__pc"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </label>
    </div>
    <div class="testimonials__both-arrow">
      <label for="slide1" class="testimonials__arrow testimonials__arrow--prev">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </label>
      <label for="slide2" class="testimonials__arrow testimonials__arrow--next">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </label>
    </div>
  </div>

  <div class="testimonials__dots">
    <span class="dot"></span>
    <label for="slide1" class="dot dot-active"></label>
    <label for="slide2" class="dot"></label>
    <span class="dot"></span>
  </div>
</section>
