<section class="testimonials">
  <header class="testimonials__header">
    <h3 class="testimonials__subtitle">Testimonials</h3>
    <div class="testimonials__title-wrapper">
      <span class="testimonials__title-bg">Testimonials</span>
      <h2 class="testimonials__title">Our Valuable & Trusted Clients</h2>
    </div>
  </header>

  <div class="testimonials__slider">
    <div class="testimonials__slider-container">
      <button
        class="testimonials__arrow testimonials__arrow--prev testimonials__tablet"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </button>

      <article class="testimonials__card">
        <div class="testimonials__card-content">
          <div class="testimonials__user">
            <div class="testimonials__user-images">
              <img
                src="../assets/images/Rectangle 6.png"
                alt="User"
                class="testimonials__user-image"
              />
              <img
                src="../assets/images/Rectangle 483.png"
                alt="User"
                class="testimonials__user-image"
              />
            </div>

            <div class="testimonials__user-info">
              <h4 class="testimonials__user-name">Marry Welsom</h4>
              <p class="testimonials__user-position">
                Founder and CEO OF PREMIUM
              </p>
            </div>
          </div>

          <div class="testimonials__text-container">
            <div class="testimonials__text-wrapper">
              <img
                src="../assets/icon/pngwing 3.png"
                alt="Quote"
                class="testimonials__quote-icon"
              />
              <p class="testimonials__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ecommodo consequat. Duis aute irure dolor in
                reprehenderit Duis aute irure dolor in reprehenderit
              </p>
              <div class="testimonials__quote-end-container">
                <img
                  src="../assets/icon/pngwing 2.png"
                  alt="Quote End"
                  class="testimonials__quote-end-icon"
                />
              </div>
            </div>
            <img
              src="../assets/icon/Start.svg"
              alt="Testimonial Start"
              class="testimonials__start-icon"
            />
          </div>
        </div>
      </article>

      <button
        class="testimonials__arrow testimonials__arrow--next testimonials__tablet"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </button>
    </div>
    <div class="testimonials__both-arrow">
      <button class="testimonials__arrow testimonials__arrow--next">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </button>
      <button class="testimonials__arrow testimonials__arrow--prev">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </button>
    </div>
  </div>

  <div class="testimonials__dots">
    <span class="testimonials__dot"></span>
    <span class="testimonials__dot testimonials__dot--active"></span>
    <span class="testimonials__dot"></span>
    <span class="testimonials__dot"></span>
  </div>
</section>
