<section class="testimonials">
  <header class="testimonials__header">
    <h3 class="testimonials__subtitle">Testimonials</h3>
    <div class="testimonials__title-wrapper">
      <span class="testimonials__title-bg">Testimonials</span>
      <h2 class="testimonials__title">Our Valuable & Trusted Clients</h2>
    </div>
  </header>

  <div class="testimonials__slider">
    <div class="testimonials__slider-container">
      <input type="radio" name="testimonial" id="slide1" checked hidden />
      <input type="radio" name="testimonial" id="slide2" hidden />

      <label
        for="slide1"
        class="testimonials__arrow testimonials__arrow--prev testimonials__pc"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </label>

      <article class="testimonials__card">
        <include
          src="./components/testimonial-card.html"
          locals='{
          "cardClass": "card1",
          "userImage1": "../assets/images/Rectangle 6.webp",
          "userImage2": "../assets/images/Rectangle 483.webp",
          "userName": "Marry Welsom",
          "userPosition": "Founder and CEO OF PREMIUM",
          "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  aliquip ex ecommodo consequat. Duis aute irure dolor in reprehenderit Duis aute irure dolor in reprehenderit"
        }'
        ></include>

        <include
          src="./components/testimonial-card.html"
          locals='{
          "cardClass": "card2",
          "userImage1": "../assets/images/Rectangle 6.webp",
          "userImage2": "../assets/images/Rectangle 484.webp",
          "userName": "Elon Musk",
          "userPosition": "CEO of Tesla and SpaceX",
          "testimonialText": "“When something is important enough, you do it even if the odds are not in your favor.”"
        }'
        ></include>
      </article>

      <label
        for="slide2"
        class="testimonials__arrow testimonials__arrow--next testimonials__pc"
      >
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </label>
    </div>
    <div class="testimonials__both-arrow">
      <label for="slide1" class="testimonials__arrow testimonials__arrow--prev">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Previous"
          class="testimonials__arrow-icon"
        />
      </label>
      <label for="slide2" class="testimonials__arrow testimonials__arrow--next">
        <img
          src="../assets/icon/Arrow 2.svg"
          alt="Next"
          class="testimonials__arrow-icon"
        />
      </label>
    </div>
  </div>

  <div class="testimonials__dots">
    <span class="dot"></span>
    <label for="slide1" class="dot dot-active"></label>
    <label for="slide2" class="dot"></label>
    <span class="dot"></span>
  </div>
</section>
