@use "../../abstracts/" as *;

.about-section {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $wrap: wrap
  );
  gap: 3.2rem;
  width: 100%;
  padding: 3.2rem 2;
  height: auto;

  &__content {
    @include flex($direction: column, $justify: center, $align: center);
    gap: 1.8rem;
    margin: 0 2.5rem;

    .about-section__title {
      @include flex($direction: row, $justify: center, $align: flex-start);
      position: relative;
      height: auto;
      text-align: center;
      .about-section__title-bg {
        @include font-style($size: 4.5rem, $weight: 700, $height: 1.5);
        color: $grey;
        opacity: 0.5;
        margin: 0 auto;
        z-index: 0;
      }

      .about-section__title-fg {
        color: $dark;
        position: absolute;
        transform: translateY(1.7rem);
        @include font-style($size: 3rem, $weight: 700, $height: 4.5rem);
        z-index: 1;
      }
    }

    .about-section__text {
      @include flex($direction: column, $justify: center, $align: center);
      text-align: center;

      .about-section__description {
        color: $neutral;
        @include font-style($size: 1.2rem, $weight: 400, $height: 1.5rem);
      }
    }

    .about-section__button {
      padding: 0.6rem 1.7rem;
      border-radius: 0.2rem;
      color: $white;
      @include font-style($size: 0.7rem, $weight: 500, $height: 1.5);
      cursor: pointer;
      background-color: $primary;
      border: none;
    }
  }

  &__diagram {
    object-fit: contain;
    max-width: 30rem;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  @include tablet {
    @include flex($direction: row, $align: center, $wrap: nowrap);
    margin: 0 auto;
    padding: 6.4rem 9.6rem;
    gap: 5.4rem;

    &__content {
      max-width: auto;
      @include flex($direction: column, $align: flex-start);
      margin: 0;
      gap: 3.9rem;

      .about-section__title {
        white-space: nowrap;
        @include flex($direction: row, $align: flex-start);

        .about-section__title-fg {
          left: 0.5rem;
          transform: translateY(1.7rem);
        }
      }

      .about-section__text {
        @include flex($align: flex-start);
        width: 100%;
        max-width: 65rem;
        text-align: left;

        .about-section__description {
          width: 100%;
          @include font-style($size: 1.4rem, $height: 1.5);
        }
      }

      .about-section__button {
        width: 13.8rem;
        padding: 1.2rem 3.6rem;
        @include font-style($size: 1.2rem, $height: 1.5);
        border-radius: 0.5rem;
        white-space: nowrap;
      }
    }

    &__diagram {
      max-width: 43rem;
    }
  }

  @include pc {
    @include flex($direction: row, $justify: center, $align: center);
    margin: 0 auto;
    padding: 6.4rem 9.6rem;
    max-width: 144rem;
    gap: 5.4rem;

    &__content {
      flex: 1 1 0%;
      min-width: 0;
      margin: 0;

      @include flex($direction: column, $align: flex-start);
      gap: 3.9rem;

      .about-section__title {
        height: 9.6rem;
        white-space: nowrap;

        @include flex($direction: row, $align: center);

        .about-section__title-bg {
          @include font-style($size: 9.6rem);
        }

        .about-section__title-fg {
          @include font-style($size: 6.4rem, $height: 1.5);
          left: 1rem;
          transform: translateY(1rem);
        }
      }

      .about-section__text {
        @include flex($align: flex-start);
        width: 100%;
        text-align: left;
        max-width: 68.8rem;
        .about-section__description {
          width: 100%;
          @include font-style($size: 1.8rem, $height: 1.5);
        }
      }

      .about-section__button {
        width: fit-content;
        padding: 1.2rem 3.6rem;
        @include font-style($size: 1.6rem, $height: 1.5);
        border-radius: 0.5rem;
      }
    }

    &__diagram {
      max-width: 50rem;
    }
  }
}
