@use "../../abstracts/" as *;
@use "../../components/watermark";

.contact-section {
  @include dimensions($w: 100%);
  margin-top: 5.2rem;
  background: $black;
  position: relative;
  overflow: hidden;

  .contact-bound {
    @include flex($direction: column, $align: flex-start);
    @include dimensions($w: 100%);
    margin: 5.2rem auto 0;
    padding: 5.9rem 4.3rem;
    gap: 4.55rem;
  }

  .contact-header {
    @include flex($direction: column, $align: flex-start);
    @include dimensions($w: fit-content);
    gap: 0.8rem;
    z-index: 0;
    color: $white;

    .contact-title {
      @include font-style($size: 2.5rem, $weight: 700, $height: 1.5);
    }

    .contact-subtitle {
      @include font-style($size: 1.1rem, $weight: 400, $height: 1.5);
    }
  }

  .contact-form {
    @include flex($direction: column, $align: flex-start);
    @include font-style($weight: 400, $height: 1.5);
    @include dimensions($w: 100%);
    gap: 2.8rem;
    z-index: 0;
    color: $grey;

    .form-row {
      @include dimensions($w: 100%);
      @include flex($align: flex-start);
      gap: 0.9rem;

      .form-group {
        @include dimensions($w: 100%);
        @include flex($direction: column, $align: flex-start);
        gap: 0.3rem;

        .form-input::placeholder {
          color: $grey;
        }
      }
    }

    .input-line {
      @include dimensions($w: 100%, $h: 0.1rem);
      border: none;
      background-color: $grey;
      margin: 0;
    }

    input {
      @include font-style($size: 0.8rem);
      @include dimensions($w: 100%);
      background: transparent;
      border: none;
      color: $grey;
      padding: 0;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
    }

    .message-group {
      @include dimensions($w: 100%);
      white-space: nowrap;
      .form-input::placeholder {
        color: $grey;
      }
    }

    .dropdown-container {
      @include dimensions($w: 100%);
      @include flex($justify: space-between);

      .dropdown-arrow {
        @include dimensions($w: 0.7rem);
        aspect-ratio: 2.33;
        object-fit: contain;
        object-position: center;
        flex-shrink: 0;
      }
    }
  }

  @include medium {
    margin: 0;
    @include dimensions($w: 100%);

    .contact-bound {
      @include flex($direction: row, $justify: center, $align: flex-start);
      @include dimensions($w: 100%);
      margin: 0 auto;
      padding: 17.2rem 9.6rem;
      gap: 5.5rem;
    }

    .contact-header {
      @include dimensions($w: calc((100% - 6.6rem) / 2));
      order: 2;
      gap: 1.4rem;

      .contact-title {
        @include font-style($size: 4rem);
      }

      .contact-subtitle {
        @include font-style($size: 1.8rem);
      }
    }

    .contact-form {
      @include flex($direction: column, $align: flex-start);
      @include dimensions($w: calc((100% - 6.6rem) / 2));
      order: 1;
      gap: 6.1rem;

      .form-row {
        @include dimensions($w: 100%);
        @include flex($align: flex-start);
        gap: 1.9rem;

        .form-group {
          @include dimensions($w: 100%);
          gap: 0.3rem;
        }
      }

      input {
        @include font-style($size: 1.4rem);
      }

      .dropdown-container {
        .dropdown-arrow {
          @include dimensions($w: 1.5rem);
        }
      }
    }

    @include pc {
      .contact-bound {
        @include dimensions($max-w: 144rem);
        gap: 6.6rem;
      }

      .contact-header {
        @include dimensions($w: calc((100% - 6.6rem) / 2));
        order: 2;
        gap: 1.8rem;

        .contact-title {
          @include font-style($size: 5.4rem);
        }

        .contact-subtitle {
          @include font-style($size: 2.4rem);
        }
      }

      .contact-form {
        @include flex($direction: column, $align: flex-start);
        @include dimensions($w: calc((100% - 6.6rem) / 2));
        order: 1;
        gap: 6.1rem;
        
        .form-row {
          @include dimensions($w: 100%);
          @include flex($align: flex-start);
          gap: 1.8rem;

          .form-group {
            @include dimensions($w: 100%);
            gap: 0.5rem;
          }
        }

        input {
          @include font-style($size: 1.8rem);
        }
      }
    }
  }
}
