@use "../../abstracts/" as *;
@use "../../components/hero-search";

.hero-container {
  position: relative;
  width: 100%;

  .hero__background {
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include flex($justify: center, $align: center);

    .background-img1 {
      width: 100%;
      height: 80rem;
    }

    .background-img {
      display: none;
    }
  }

  .hero-content {
    @include flex($justify: center, $align: center);
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
    position: relative;

    .hero-background {
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @include flex($justify: center, $align: center);
      background: lightgray 0% 0% / 3.33rem 3.33rem repeat;
      mix-blend-mode: soft-light;
      opacity: 0.6;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .hero-container {
      position: relative;
      z-index: 1;
      min-height: 49rem;
      margin: 0 1.2rem;
      padding: 4rem 1.2rem;
      border: 0.0663rem solid #10254d;
      border-radius: 0.5rem;
      @include flex($justify: center, $align: flex-start);

      .hero {
        width: 100%;
        gap: 4.5rem;
        @include flex($direction: column, $align: center);

        &__content {
          width: 100%;
          gap: 1.5rem;
          @include flex($direction: column, $align: flex-start);

          .hero__text {
            width: 100%;
            gap: 1.5rem;
            @include font-style($size: 1.1rem, $weight: 400, $height: 1.7rem);
            @include flex($direction: column, $align: flex-start);

            .hero__heading {
              gap: 1rem;
              @include flex($direction: column, $align: flex-start);
              h2 {
                @include font-style(
                  $size: 0.7rem,
                  $weight: 500,
                  $height: 1.7rem,
                  $spacing: 0.2rem
                );
                font-variant: small-caps;
              }

              h1 {
                @include font-style($size: 3rem, $weight: 600, $height: 3.7rem);
              }
            }
          }
        }

        &__img {
          object-fit: contain;
          max-width: 45rem;

          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }

  @include tablet {
    .hero-content {
      padding: 4rem 5.4rem;

      .hero-container {
        padding: 3.3rem 3rem 2.8rem;
        @include flex($justify: center, $align: center);

        .hero {
          @include flex($direction: row, $justify: center, $align: center);

          &__content {
            @include flex(
              $direction: column,
              $justify: center,
              $align: flex-start
            );
          }
        }
      }
    }
  }

  @include pc {
    margin: 0 auto;
    width: 100%;
    @include flex($direction: column, $align: center);
    margin-top: 4.2rem;

    .hero__background {
      .background-img1 {
        display: none;
      }
      .background-img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }

    .hero-content {
      width: 100%;
      padding: 2rem 6.6rem;
      max-width: 144rem;

      .hero-background {
        width: 100%;
        max-width: 134rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .hero-container {
        margin: 0;
        width: 100%;
        padding: 0 3rem;
        @include flex($justify: center, $align: center);

        .hero {
          padding: 12.5rem 0;
          width: 100%;
          @include flex(
            $direction: row,
            $justify: space-between,
            $align: center
          );
          gap: 4rem;

          .hero__content {
            max-width: 51rem;
            @include flex(
              $direction: column,
              $justify: center,
              $align: flex-start
            );
            gap: 3.2rem;

            .hero__text {
              gap: 3.2rem;
              @include font-style($size: 1.8rem, $height: 1.5, $weight: 400);

              .hero__heading {
                gap: 3.2rem;

                h2 {
                  @include font-style($size: 1.4rem, $spacing: 0.2rem);
                }

                h1 {
                  @include font-style($size: 4.8rem, $height: 125%);
                }
              }
            }
          }
          &__img {
            object-fit: contain;
            max-width: 66rem;

            img {
              max-width: 100%;
              height: auto;
              display: block;
            }
          }
        }
      }
    }
  }
}
