@use "../../abstracts/" as *;
@use "../../components/hero-search";

.hero-container {
  @include dimensions($w: 100%);
  position: relative;

  .hero__background {
    @include flex($justify: center, $align: center);
    @include dimensions($w: 100%, $h: 100%);
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 0;
    z-index: -1;

    .background-img1 {
      @include dimensions($w: 100%, $h: 80rem);
    }

    .background-img {
      display: none;
    }
  }

  .hero-content {
    @include flex($justify: center, $align: center);
    @include dimensions($w: 100%);
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;

    .hero-background {
      @include flex($justify: center, $align: center);
      @include dimensions($w: 100%, $h: 100%);
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: lightgray 0% 0% / 3.33rem 3.33rem repeat;
      mix-blend-mode: soft-light;
      opacity: 0.6;

      img {
        @include dimensions($w: 100%, $h: 100%);
        object-fit: cover;
        display: block;
      }
    }

    .hero-container {
      @include flex($justify: center, $align: flex-start);
      @include dimensions($min-h: 49rem);
      position: relative;
      z-index: 1;
      margin: 0 1.2rem;
      padding: 4rem 1.2rem;
      border: 0.0663rem solid #10254d;
      border-radius: 0.5rem;

      .hero {
        @include flex($direction: column, $align: center);
        @include dimensions($w: 100%);
        gap: 4.5rem;

        &__content {
          @include flex($direction: column, $align: flex-start);
          @include dimensions($w: 100%);
          gap: 1.5rem;

          .hero__text {
            @include font-style($size: 1.1rem, $weight: 400, $height: 1.7rem);
            @include flex($direction: column, $align: flex-start);
            @include dimensions($w: 100%);
            gap: 1.5rem;

            .hero__heading {
              @include flex($direction: column, $align: flex-start);
              gap: 1rem;
              
              h2 {
                @include font-style(
                  $size: 0.7rem,
                  $weight: 500,
                  $height: 1.7rem,
                  $spacing: 0.2rem
                );
                font-variant: small-caps;
              }

              h1 {
                @include font-style($size: 3rem, $weight: 600, $height: 3.7rem);
              }
            }
          }
        }

        &__img {
          @include dimensions($max-w: 45rem);
          object-fit: contain;

          img {
            @include dimensions($max-w: 100%, $h: auto);
            display: block;
          }
        }
      }
    }
  }

  @include tablet {
    .hero-content {
      padding: 4rem 5.4rem;

      .hero-container {
        padding: 3.3rem 3rem 2.8rem;
        @include flex($justify: center, $align: center);

        .hero {
          @include flex($direction: row, $justify: center, $align: center);

          &__content {
            @include flex(
              $direction: column,
              $justify: center,
              $align: flex-start
            );
          }
        }
      }
    }
  }

  @include pc {
    @include flex($direction: column, $align: center);
    @include dimensions($w: 100%);
    margin: 4.2rem auto 0;

    .hero__background {
      .background-img1 {
        display: none;
      }
      .background-img {
        @include dimensions($w: 100%, $h: auto);
        object-fit: contain;
        display: block;
      }
    }

    .hero-content {
      @include dimensions($w: 100%, $max-w: 144rem);
      padding: 2rem 6.6rem;

      .hero-background {
        @include dimensions($w: 100%, $max-w: 134rem);
        left: 50%;
        transform: translateX(-50%);
      }

      .hero-container {
        @include flex($justify: center, $align: center);
        @include dimensions($w: 100%);
        margin: 0;
        padding: 0 3rem;

        .hero {
          padding: 12.5rem 0;
          @include dimensions($w: 100%);
          @include flex(
            $direction: row,
            $justify: space-between,
            $align: center
          );
          gap: 4rem;

          .hero__content {
            @include dimensions($max-w: 51rem);
            @include flex(
              $direction: column,
              $justify: center,
              $align: flex-start
            );
            gap: 3.2rem;

            .hero__text {
              @include font-style($size: 1.8rem, $height: 1.5, $weight: 400);
              gap: 3.2rem;

              .hero__heading {
                gap: 3.2rem;

                h2 {
                  @include font-style($size: 1.4rem, $spacing: 0.2rem);
                }

                h1 {
                  @include font-style($size: 4.8rem, $height: 125%);
                }
              }
            }
          }
          &__img {
            object-fit: contain;
            @include dimensions($max-w: 66rem);

            img {
              @include dimensions($max-w: 100%, $h: auto);
              display: block;
            }
          }
        }
      }
    }
  }
}
