@use "../../abstracts/" as *;
@use "../../components/service-card";
@use "../../components/services-pc-card";

.services-section {
  @include flex($direction: column, $justify: start, $align: center);
  padding: 0 2rem 4.5rem;
  @include font-style();
  gap: 3rem;

  .section-header {
    @include flex($direction: column, $align: center);
    position: relative;
    padding: 0.6rem;
    white-space: nowrap;
  }

  .section-title-bg {
    opacity: 0.5;
    color: $grey;
    @include font-style($size: 6rem, $weight: 600);
    z-index: -1;
  }

  .section-title {
    color: $black;
    @include font-style($size: 3rem, $weight: 700);
    position: absolute;
    z-index: 1;
    transform: translateY(85%);
  }

  .services-grid {
    @include flex($direction: column, $justify: start, $align: center);
    width: 100%;
    gap: 0.8rem;
    @include font-style($height: 1.5, $weight: 500);
    color: $white;

    .services-row {
      width: 100%;
      height: auto;
      align-items: stretch;
      @include flex($direction: column, $justify: start, $align: center);

      &-small,
      &-special {
        height: 100%;
        @include flex($direction: row, $justify: start, $align: start);
        gap: 0.8rem;
        flex: 1;
        @include small {
          @include flex($direction: column, $justify: start, $align: center);
        }
      }
    }

    @include small {
      .services-grid {
        .services-row-small,
        .services-row-special {
          flex-direction: column;

          .service-card-medium,
          .service-card-small,
          .service-card-large-special {
            width: 100% !important;
            flex: unset;
          }
        }
      }
    }
  }

  .services-pc-grid {
    display: none;
  }

  @include medium {
    .services-grid {
      display: none;
    }

    @include flex($direction: column, $align: flex-start);
    padding: 6.4rem 9.6rem;
    margin: 0 auto;
    gap: 4.8rem;

    .section-header {
      @include flex($align: flex-start);
      position: relative;
      padding: 1rem;
      gap: 1rem;
      white-space: nowrap;
    }

    .section-title-bg {
      @include font-style($size: 7.8rem, $weight: 600);
      z-index: 0;
    }

    .section-title {
      @include font-style($size: 3.3rem, $weight: 700);
      position: absolute;
      z-index: 1;
      transform: translateY(85%);
    }

    .services-pc-grid {
      width: 100%;
      @include flex($direction: column, $justify: center, $align: center);
      .services-pc-row {
        @include flex($justify: start, $align: end, $wrap: wrap);
        gap: 2rem;
        margin-top: 3.8rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    @include pc {
      max-width: 144rem;

      .section-title-bg {
        @include font-style($size: 9.6rem, $weight: 600);
      }

      .section-title {
        @include font-style($size: 4.8rem, $weight: 700);
      }
    }
  }
}
