@use "../../abstracts/" as *;
@use "../../components/service-card";

.services-section {
  @include flex($direction: column, $justify: start, $align: center);
  padding: 0 1.9rem 0 2rem;
  @include font-style();
  margin: 0 auto;
  gap: 1.6rem;

  .section-header {
    @include flex($direction: column, $align: center);
    position: relative;
    padding: 0.6rem;
    gap: 0.6rem;
    white-space: nowrap;
  }

  .section-title-bg {
    opacity: 0.5;
    color: $section-title;
    @include font-style($size: 6rem, $weight: 600);
    z-index: 0;
  }

  .section-title {
    color: $grey1;
    @include font-style($size: 3rem, $weight: 700);
    position: absolute;
    z-index: 1;
    transform: translateY(85%);
  }

  .services-grid {
    @include flex($direction: column, $justify: start, $align: center);
    gap: 0.8rem;
    @include font-style($height: 1.5, $weight: 500);
    color: $primary-color;

    .services-row {
      @include flex($direction: column, $justify: start, $align: center);

      &-small {
        @include flex($direction: row, $justify: start, $align: start);
        gap: 0.8rem;
        font-size: 1.2rem;
      }

      &-special {
        @include flex($direction: row, $justify: start, $align: start);
        display: flex;
        gap: 0.8rem;
      }
    }
  }

  .services-tablet-grid {
    display: none;
  }

  @include tablet {
    .services-grid {
      display: none;
    }

    @include flex($direction: column, $align: flex-start);
    width: 144rem;
    padding: 6.4rem 9.6rem;
    gap: 4.8rem;

    .section-header {
      @include flex($align: flex-start);
      position: relative;
      padding: 1rem;
      gap: 1rem;
      white-space: nowrap;
    }

    .section-title-bg {
      font-size: 9.6rem;
      z-index: 0;
    }

    .section-title {
      font-size: 4.8rem;
      position: absolute;
      z-index: 1;
      transform: translateY(85%);
    }

    .services-tablet-grid {
      @include flex($direction: column, $justify: center, $align: center);
      color: $primary-color;
      @include font-style($weight: 500);
      .services-tablet-row {
        @include flex($justify: start, $align: end, $wrap: wrap);
        gap: 2rem;
        margin-top: 3.8rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
