@use "../../abstracts/" as *;

.testimonials {
  @include flex($direction: column, $justify: center, $align: center);
  margin: 0 auto;
  width: 100%;
  max-width: 361px;
  font-family: $primary-font;

  &__header {
    @include flex($direction: column, $justify: start, $align: center);
    width: 100%;
    padding: 12px 19px 12px 20px;
    white-space: nowrap;
  }

  &__subtitle {
    color: $primary;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%;
  }

  &__title-wrapper {
    @include flex($justify: center, $align: center);
    position: relative;
    padding: 0 32px;
    gap: 4px;
  }

  &__title-bg {
    color: #e5e5e5;
    font-size: 40.96px;
    font-weight: 600;
    opacity: 0.5;
    z-index: 0;
  }

  &__title {
    z-index: 1;
    position: absolute;
    transform: translateY(20%);
    color: $grey1;
    font-size: 20.48px;
    font-weight: 700;
    line-height: 168.75%;
  }

  &__slider {
    @include flex($direction: column, $align: center);
    width: 100%;
    max-width: 320px;
    gap: 40px;

    &-container {
      width: 100%;
    }
  }

  &__card {
    @include flex($direction: column, $justify: flex-start);
    padding: 24px 12px;
    width: 100%;
    gap: 4.612px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: $background-color;
  }

  &__card-content {
    @include flex($direction: column, $justify: center, $align: center);
    gap: 6px;
  }

  &__user {
    @include flex($direction: column, $align: center);

    &-images {
      position: relative;
    }

    &-image {
      aspect-ratio: 1.03;
      object-fit: contain;
      object-position: center;
      width: 153px;
      max-width: 100%;
      border-radius: 46px;

      &:nth-of-type(2) {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;
      }
    }

    &-info {
      width: 127px;
      max-width: 100%;
      text-align: center;

      & .testimonials__user-name {
        color: #080d20;
        font-size: 17px;
        font-weight: 600;
        line-height: 150%;
      }

      & .testimonials__user-position {
        flex-shrink: 0;
        color: #000;
        font-size: 8px;
        font-weight: 300;
        line-height: 200%;
        opacity: 0.9;
      }
    }
  }

  &__text-container {
    @include flex($direction: column, $align: center);
    width: 100%;
  }

  &__text-wrapper {
    @include flex($direction: column, $align: flex-start);
    position: relative;
    width: 100%;
  }

  &__quote-icon {
    aspect-ratio: 1.31;
    width: 21px;
  }

  &__quote-end-container {
    @include flex($justify: flex-end);
    width: 100%;
  }

  &__quote-end-icon {
    aspect-ratio: 1.47;
    width: 22px;
  }

  &__text {
    font-weight: 400;
    color: #000;
    font-size: 8.301px;
    flex-shrink: 0;
    line-height: 133.3%;
    margin-left: 2.1rem;
  }

  &__start-icon {
    width: auto;
    height: auto;
    margin-top: 10px;
  }

  &__tablet {
    display: none;
  }

  &__dots {
    display: none;
  }

  @include tablet {
    min-width: 1440px;
    padding: 46px 96px 82px;
    gap: 61px;

    &__subtitle {
      font-size: 24px;
    }

    &__title-wrapper {
      padding: 0 76px;
      gap: 10px;
    }

    &__title-bg {
      font-size: 96px;
    }

    &__title {
      font-size: 48px;
      line-height: 2;
    }

    &__slider {
      @include flex($direction: row, $align: center, $justify: center);
      max-width: 1240px;
    }

    &__slider-container {
      @include flex($direction: row, $align: center);
      gap: 43px;
    }

    &__card {
      border-radius: 17px;
      box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.25);
      padding: 31px;
    }

    &__card-content {
      @include flex($direction: row, $align: center, $justify: space-between);
      gap: 13px;
    }

    &__user {
      width: 333px;
      text-align: center;

      &-image {
        width: 333px;
        border-radius: 100px;

        &:nth-of-type(2) {
          bottom: 1.5rem;
          right: 1.5rem;
        }
      }

      &-info {
        width: 276px;
        padding: 0 14px 30px;
      }

      &-name {
        font-size: 36px;
      }

      &-position {
        font-size: 18px;
      }
    }

    &__text-container {
      gap: 18px;
    }

    &__text-wrapper {
      max-width: 643px;
      padding-right: 8px;
    }

    &__quote-icon {
      aspect-ratio: 1.37;
      width: 47px;
    }

    &__text {
      font-size: 18px;
      margin-left: 4.7rem;
    }

    &__quote-end-icon {
      aspect-ratio: 1.47;
      width: 47px;
    }

    &__both-arrow {
      display: none;
    }

    &__tablet {
      display: flex;
    }

    &__dots {
      @include flex($align: flex-start, $justify: flex-start);
      gap: 13px;
    }

    .dot {
      background-color: #000;
      border-radius: 50%;
      width: 16px;
      height: 16px;

      &-active {
        border-radius: 9.762px;
        background-color: $primary;
        width: 35px;
        height: 16px;
      }
    }
  }
}
