@use "../../abstracts/" as *;

.testimonials {
  @include flex($direction: column, $justify: center, $align: center);
  margin: 0 auto;

  padding: 0 5.4rem;
  width: 100%;

  &__header {
    @include flex($direction: column, $justify: start, $align: center);
    width: 100%;
    padding: 1.2rem 1.9rem 1.2rem 2rem;
    white-space: nowrap;
  }

  &__subtitle {
    @include font-style($size: 1rem, $height: 1.5, $weight: 600);
    color: $primary;
  }

  &__title-wrapper {
    @include flex($justify: center, $align: center);
    position: relative;
    padding: 0 3.2rem;
    gap: 0.4rem;
  }

  &__title-bg {
    color: $grey;
    @include font-style($size: 4.1rem, $height: 1.5, $weight: 600);
    opacity: 0.5;
    z-index: 0;
  }

  &__title {
    z-index: 1;
    position: absolute;
    transform: translateY(20%);
    color: $black;
    @include font-style($size: 2rem, $height: 1.7, $weight: 700);
  }

  &__slider {
    @include flex($direction: column, $align: center);
    width: 100%;
    gap: 4rem;
    &-container {
      width: 100%;
    }
  }

  &__card {
    @include flex($direction: column, $justify: flex-start);
    position: relative;
    padding: 2.4rem 1.2rem;
    width: 100%;
    gap: 0.4612rem;
    box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.251);
    border-radius: 0.8rem;
    background: $white;
  }

  &__card-content {
    @include flex($direction: column, $justify: center, $align: center);
    gap: 0.6rem;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
  }

  #slide1:checked ~ .testimonials__card .card1 {
    display: flex;
    z-index: 2;
    opacity: 1;
  }

  #slide2:checked ~ .testimonials__card .card2 {
    display: flex;
    z-index: 2;
    opacity: 1;
  }

  &__user {
    @include flex($direction: column, $align: center);
    padding: 0 3rem;

    &-images {
      position: relative;
      object-fit: contain;
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    &-image {
      object-fit: contain;
      object-position: center;
      width: 15.3rem;
      max-width: 100%;
      border-radius: 4.6rem;

      &:nth-of-type(1) {
        pointer-events: none;
      }

      &:nth-of-type(2) {
        position: absolute;
        object-fit: cover;
        height: 100%;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;

        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.1);
          box-shadow: 0 0.4rem 0.8rem $primary;
        }
      }
    }

    &-info {
      width: auto;
      white-space: nowrap;
      text-align: center;

      .testimonials__user-name {
        color: $black;
        @include font-style($size: 1.7rem, $height: 1.5, $weight: 600);
      }

      .testimonials__user-position {
        flex-shrink: 0;
        color: $black;
        @include font-style($size: 0.8rem, $height: 2, $weight: 300);
        opacity: 0.9;
      }
    }
  }

  &__text-container {
    @include flex($direction: column, $align: center);
    width: 100%;
  }

  &__text-wrapper {
    @include flex($direction: column, $align: flex-start);
    position: relative;
    width: 100%;
  }

  &__quote-icon {
    aspect-ratio: 1.31;
    width: 2.1rem;
    pointer-events: none;
  }

  &__quote-end-container {
    @include flex($justify: flex-end);
    width: 100%;
  }

  &__quote-end-icon {
    pointer-events: none;
    aspect-ratio: 1.47;
    width: 2.2rem;
  }

  &__text {
    @include font-style($size: 1.2rem, $height: 1.3, $weight: 400);
    color: $black;
    flex-shrink: 0;
    margin-left: 2.1rem;
  }

  &__start-icon {
    margin-top: 1rem;

    object-fit: contain;
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    &:hover {
      transition: all 0.3s ease;
      transform: scale(1.05);
    }
  }

  &__pc {
    display: none;
  }

  &__dots {
    display: none;
  }

  @include medium {
    padding: 4.6rem 9.6rem 8.2rem;
    gap: 3rem;

    &__subtitle {
      @include font-style($size: 1.7rem, $height: 1.5, $weight: 600);
    }

    &__title-wrapper {
      padding: 0 5.4rem;
      gap: 0.7rem;
    }

    &__title-bg {
      @include font-style($size: 6.9rem, $height: 1.5, $weight: 600);
    }

    &__title {
      @include font-style($size: 3.4rem, $height: 2, $weight: 700);
    }

    &__slider {
      @include flex($direction: row, $align: center, $justify: center);
    }

    &__slider-container {
      @include flex($direction: row, $align: center);
      gap: 2.3rem;
    }

    &__card {
      border-radius: 1.7rem;
      box-shadow: 0.1rem 0.3rem 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
      padding: 3.1rem;
    }

    &__card-content {
      @include flex($direction: row, $align: center, $justify: space-between);
      gap: 1.3rem;
    }

    #slide1:checked ~ .testimonials__card .card1 {
      position: absolute;
      display: flex;
      z-index: 2;
      opacity: 1;
    }

    #slide2:checked ~ .testimonials__card .card2 {
      position: absolute;
      display: flex;
      z-index: 2;
      opacity: 1;
    }

    &__dots {
      @include flex($align: flex-start, $justify: flex-start);
      gap: 1.3rem;

      &:hover .dot-active:not(:hover) {
        border-radius: 50%;
        background-color: $black;
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .dot {
      background-color: $black;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      transition: all 0.3s ease;

      &:hover {
        border-radius: 0.9762rem;
        background-color: $primary;
        width: 3.5rem;
        height: 1.6rem;
      }

      &-active {
        border-radius: 0.9762rem;
        background-color: $primary;
        width: 3.5rem;
        height: 1.6rem;
      }
    }

    #slide1:checked ~ .testimonials__dots label[for="slide1"],
    #slide2:checked ~ .testimonials__dots label[for="slide2"] {
      border-radius: 0.9762rem;
      background-color: $primary;
      width: 3.5rem;
      height: 1.6rem;
    }

    &__user {
      padding: 0;
      text-align: center;

      &-images {
        max-width: 25rem;
      }

      &-image {
        width: 100%;
        flex: 0 1 33rem;
        border-radius: 10rem;

        &:nth-of-type(2) {
          bottom: 1.5rem;
          right: 1.5rem;
        }
      }

      &-info {
        width: auto;
        padding: 0 1.4rem 3rem;
        .testimonials__user-name {
          @include font-style($size: 2.65rem);
        }

        .testimonials__user-position {
          @include font-style($size: 1.3rem);
        }
      }
    }

    &__text-container {
      gap: 1.8rem;
    }

    &__text-wrapper {
      width: auto;
      padding-right: 0.8rem;
    }

    &__text {
      @include font-style($size: 1.2rem);
      margin-left: 2rem;
    }

    &__both-arrow {
      display: none;
    }

    &__pc {
      display: flex;
    }

    @include pc {
      max-width: 144rem;
      gap: 6rem;

      &__subtitle {
        @include font-style($size: 2.4rem, $height: 1.5, $weight: 600);
      }

      &__title-wrapper {
        padding: 0 7.6rem;
        gap: 1rem;
      }

      &__title-bg {
        @include font-style($size: 9.6rem, $height: 1.5, $weight: 600);
      }

      &__title {
        @include font-style($size: 4.8rem, $height: 2, $weight: 700);
      }

      &__slider {
        max-width: 124rem;
      }

      &__slider-container {
        gap: 4.3rem;
      }

      &__user {
        &-images {
          max-width: none;
          min-width: 18rem;
        }

        &-image {
          width: 100%;
          flex: 1 1 35rem;
          border-radius: 10rem;
        }
        &-info {
          .testimonials__user-name {
            @include font-style($size: 3.6rem, $height: 1.5);
          }

          .testimonials__user-position {
            @include font-style($size: 1.8rem);
          }
        }
      }

      &__text-container {
        gap: 1.8rem;
      }

      &__text-wrapper {
        width: 64.3rem;
        padding-right: 0.8rem;
      }

      &__quote-icon {
        aspect-ratio: 1.37;
        width: 4.7rem;
      }

      &__text {
        max-width: 58.7rem;
        width: fit-content;
        @include font-style($size: 1.8rem);
        margin-left: 4.7rem;
      }

      &__quote-end-icon {
        aspect-ratio: 1.47;
        width: 4.7rem;
      }
    }
  }
}
