<header class="header-container">
  <section class="navigation-container">
    <div class="top-nav">
      <h2 class="note">
        <span class="important-note">Important Note</span>
        <span class="mark">:</span> if you completely feel secure then transfer
        your money
      </h2>
    </div>
    <div class="navbar">
      <include src="./components/logo.html"></include>
      <include
        src="./components/nav-list.html"
        locals='{
          "menu": [
            { "href": "#", "label": "Home" },
            { "href": "#", "label": "About Us" },
            { "href": "#", "label": "Services" },
            { "href": "#", "label": "Testimonials" },
            { "href": "#", "label": "Contact Us" }
          ]
        }'
      ></include>

      <button class="contact-us" type="button">Contact Us</button>
      <button class="menu-button" type="button" aria-label="Menu"></button>
    </div>
  </section>
</header>
