<header class="header-container">
  <section class="navigation-container">
    <div class="top-nav">
      <h2 class="note">
        <span class="important-note">Important Note</span>
        <span class="mark">:</span> if you completely feel secure then transfer
        your money
      </h2>
    </div>
    <div class="navbar">
      <include src="./components/logo.html"></include>
      <nav class="nav-list">
        <ul class="list-items">
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item"><a href="#">About Us</a></li>
          <li class="nav-item"><a href="#">Services</a></li>
          <li class="nav-item"><a href="#">Testimonials</a></li>
          <li class="nav-item"><a href="#">Contact Us</a></li>
        </ul>
      </nav>
      <button class="contact-us" type="button">Contact Us</button>
      <button class="menu-button" type="button" aria-label="Menu"></button>
    </div>
  </section>
</header>
